.foter{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    position: relative;
    left: 55  px;
}
.foterA{
color: #969494;
}
.foterB{
 color: #969494;
}
.foterC{
 color: #969494;
}