.signup-container {
    width: 100%;
    text-align: center; /* Center text in the container */
    height: 80vh;
    /* border: 1px solid grey; */
    flex-direction: column;
    display: flex;
    justify-content: center;

  }
  .form-container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  
 
  
 
  
  
  .error {
    color: red; /* Error text color */
    margin: 10px 0; /* Space above/below */
  }
  .custom-date-picker {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
  }
  
  .react-datepicker {
    border: 1px solid #007bff;
    border-radius: 4px;
  }
  
  .react-datepicker__triangle {
    display: none; /* Removes the small arrow pointing to the input field */
  }
  