.signup-container {
    width: 100%;
    text-align: center; /* Center text in the container */
    height: 80vh;
    /* border: 1px solid grey; */
    flex-direction: column;
    display: flex;
    justify-content: center;

  }
  .form-container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  
 
  
 
  
  
  .error {
    color: red; /* Error text color */
    margin: 10px 0; /* Space above/below */
  }
  