.tabst{
  width:100%;
  padding: 30px;
  border-collapse: collapse;

  
}

.sultabt th{
  border: 1px soid green;
  color: blue;
  font-size: 14px;
  text-align: start;
  border: none;
  background-color: white;
  padding: 10px;
  
}
.sultabt tr:nth-child(odd){
  background-color:rgb(250, 245, 245) ;

}
.sultabt td{
  font-size: 14px;
  text-align: start;
  padding: 8px;
  color: rgba(33, 33, 33, 1);
  font-style: general sans;
  
}