
  
  .container {
    display: flex;
    justify-content: space-between; /* Space between the columns */
    align-items: flex-start; /* Align columns to the start */
    width: 100%;
    padding:20px;
    flex-wrap: wrap;
    
   
  }
  
  .column {
    display: flex;
    flex-direction: column;
   
  }
  
  .column-60 {
    width: 70%; /* Set width for the first column */
    margin-right: 20px; 
    
  }
  
  .column-40 {
    width: 30%; /* Set width for the second column */
    
    
  }
  
  .box {
    border: none;
    margin: 10px 0;
    padding: 20px; 
    background-color: white;
    box-sizing: border-box; 
    border-radius: 10px;
    color: black;

  }
  