.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    flex-direction: column;
    position: relative;
    left: 120px;
    bottom: 20px;
  }
  
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .transcontainerthree,
  .transcontainerthrees,
  .transcontainers {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .icon {
    width: 40px;
  }
  