
  
  .circlearrowinflex{
      display: flex;
      border: 1px solid rgba(255, 153, 58, 1);
      width: 220px;
      justify-content: center;
      gap: 10px;
      border-radius: 5px;
      background-color: rgba(255, 153, 58, 1);
      align-items: center;
  }
  .containers {
    padding: 30px;
}
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); /* Four columns */
    gap: 10px; /* Space between containers */
    /* flex-wrap: wrap; */
    
    
  }
  
  .clickable-container {
   
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    width: 38vh;
    height: 150px;
    border: none;
  }
 